*:before,
*:after,
* {
  margin:0;
  padding:0;  
  box-sizing:inherit ;
  
}
:root {
    --drop-container-y: 45rem;
    --shadow-01: -.3rem .2rem .6rem hsla(0,30%,0%,0.5);
    --shadow-02: -.3rem .3rem 1.2rem hsla(0,30%,0%,0.5);
}
html {
    font-size:62.5%;
    box-sizing:border-box;
    scroll-behavior: smooth;
    height:100%;
}

body {
    min-width:100%;
    min-height:100vh;
    overflow-x:hidden;
    overflow-y:hidden;
    background-color: hsla(240,30%,50%);
    background-color: hsla(240,65%,50%);
}



.backing-shapes--triangle {
    transform: rotateZ(30deg);
    height:54%;
    width:45%;
    position:absolute;
    top:60%;
    left:0;
    clip-path:polygon(0 0, 0 100%, 100% 0);
    background-color:yellow;
}

@media (min-width:600px) {
    .backing-shapes--triangle {
        top:50%;
        transform: rotateZ(30deg);

    }


}



@media (min-width:600px) {
    .backing-shapes--triangle {
        top:50%;
        transform: rotateZ(30deg);

    }


}

@media (min-width:1200px) {
    .backing-shapes--triangle {
        top:20%;
    }


}

.backing-shapes--circle {
    position: absolute;
    bottom: 0%;
    right: 0%;
    border-radius: 50%;
    background-color: red;
    height: 50rem;
    transform: translate(50%,40%) scale(1);
    width: 50rem;
}
@media(min-width:0px) {
    .backing-shapes--circle{
        display:none;
    }
}



@media(min-width:600px) {
    .backing-shapes--circle {
        display:block;
        transform: translate(50%,40%) scale(0.6);
        right:24%;
        bottom:28%;
    }

}

@media(min-width:1200px) {
    .backing-shapes--circle {
        bottom: 0%;
        right: 0%;
        transform: translate(50%,40%);
    }

}

.crop {
    height:30rem;
    width:25rem;
    position: absolute;
    bottom: 0%;
    right: 0%;
    overflow:hidden;
}

@media (min-width:800px) {
    .crop {
        bottom:-10%;
    }


}

@media (min-width:1000px) {
    .crop {
        bottom:-12%;
    }


}

@media (min-width:1200px) {
    .crop {
        bottom:-10%;
    }


}

.backing-shapes--hexagon {
    width: 400px;
	height: 346px; /* ½√3 × width */
	position: absolute;
	overflow: hidden;
    background-color:purple;
	-webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform:rotateZ(30deg) scale(0.8);
    top:0;
    right:0;
}

@media (min-width:0px) {
    .backing-shapes--hexagon {
    }

}

@media (min-width:450px) {
    .backing-shapes--hexagon {
        transform: rotateZ(30deg) scale(.6);
        left:21rem;
    }

}


@media (min-width:600px) {
    .backing-shapes--hexagon {
        transform:rotateZ(30deg) scale(0.6);
    }


}

@media (min-width:800px) {
    .backing-shapes--hexagon {
        top:3rem;
        right:0;
        transform:rotateZ(30deg) scale(0.8);
    }


}

@media (min-width:1200px) {
    .backing-shapes--hexagon {
        top:-5rem;
        right:12rem;
        left:unset;
        transform:rotateZ(30deg) scale(0.8);
    }


}

[class^="backing-shapes"] {
    /*filter:contrast(0.5);
   
    background-color: hsl(90,100%,50%); /*chartreuse*//*
    */
    background-color: hsl(90,80%,50%);/*chartreuse*/
    z-index:-100; 
    /*prevents overlaying the scrollbar*/
  
}

@media (min-width:0px) {
    [class^="backing-shapes"] {
    }
}

@media (min-width:0px) {
    [class^="backing-shapes"] {
    }

}

@media (min-width:380px) {
    [class^="backing-shapes"] {

    }
}

@media (min-width:450px) {
    [class^="backing-shapes"] {
    }
}

@media (min-width:600px) {
    [class^="backing-shapes"] {

    }
}

@media (min-width:800px) {
    [class^="backing-shapes"] {

    }
}

@media (min-width:800px){
    [class^="backing-shapes"] {
    }
}

@media (min-width:1000px) {
    [class^="backing-shapes"] {
    }
}

@media (min-width:1200px) {
    [class^="backing-shapes"] {

    }


}


.main {
    height:100vh;
    width:100%;
    overflow-y:scroll
}

.main__title {
    font-size: 4.5rem;
    display: block;
    text-align: center;
    margin: 0 auto;
    color: mintcream;
    position: relative;
    z-index:1;
}

.dropdown {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    width:100%;
    /*
    width:min-content;
    margin: 0 auto;
    */
}

#topic-container:target  * {
    /*test*/
    color:blueviolet;
}

.dropdown__toggle {
    display:none;
}

.dropdown__toggle::before {
}

.dropdown__toggle:checked::before {
    content:"▼";
}

.dropdown__category {
    list-style:none;
    flex: 1 0 auto;
    margin-top:1.5rem;
    flex-wrap:wrap;
    /*test*/
    background-color:orangered;
    /*border:.3rem dashed black;*/
    display:flex;
    align-items:center;
    font-size:2.5rem;
    position:relative;

}


@media (min-width:0px) {
    .dropdown__category {
        margin-top:.7rem;
        width:80%;
    }
}

@media (min-width:0px) and (orientation:portrait) {
    .dropdown__category {
        margin-top:3rem;
        width:100vw;
    }

    .dropdown__category:first-of-type {
        margin-top:6rem;
    }
}

@media (min-width:380px) {
    .dropdown__category {
        margin-top:.8rem;
        width:80%;
    }
}

@media (min-width:450px) {
    .dropdown__category {
        margin-top:1rem;
    }
}

@media (min-width:600px) {
    .dropdown__category {
        width:85%;
        margin-top:1.5rem;
    }
}

@media (min-width:800px) {
    .dropdown__category {
        width:85%;
        margin-top:2.25rem;
    }
}

@media (min-width:800px) and (orientation:landscape) {
    .dropdown__category {
        margin-top:2.25rem;
    }
}

@media (min-width:1000px) {
    .dropdown__category {
        margin-top:2.75rem;
    }
}

@media (min-width:1200px) {
    .dropdown__category {
        margin-top:2.5rem;
        width:100rem;
    }

    .dropdown__category:first-of-type {
        margin-top:2.5rem;
    }
}





.dropdown__category:nth-child(5n+1) {
    background-color:hsl(196,100%,50%);
}

.dropdown__category:nth-child(5n+1) .topic {
    background-color:hsl(196,100%,50%);
}

.dropdown__category:nth-child(5n+1) .topic__information {
    background-color:hsl(196,100%,75%);
}

.dropdown__category:nth-child(5n+1) .topic__article {
    background-color:hsl(196,100%,75%);
}



/*
.dropdown__category:nth-child(5n+2) {
    background-color:hsl(340,100%,50%);
}
*/

/*
.dropdown__category:nth-child(5n+2) {
    background-color:hsl(260,100%,50%);
}

.dropdown__category:nth-child(5n+2) .topic {
    background-color:hsl(260,100%,50%);
    color:white;
}

.dropdown__category:nth-child(5n+2) .topic__article {
    background-color:hsl(260,100%,75%);
}
*/

.dropdown__category:nth-child(5n+2) {
    background:linear-gradient(45deg, hsl(260,100%,50%), white 70%, hsl(260,100%,50%) 90% );
    /* test
    previous styles: (may work better on non-white backgrounds)
        background:linear-gradient(45deg, hsl(260,100%,50%), white );

    */
}

.dropdown__category:nth-child(5n+2) .topic {
    background:linear-gradient(45deg, hsl(260,100%,50%), white);
}

.dropdown__category:nth-child(5n+2) .topic__information {
        background:hsla(260,100%,75%);
    
}

.dropdown__category:nth-child(5n+2) .topic__article{
    color:black;
    background:hsla(260,100%,75%);
}





.dropdown__category:nth-child(5n+3) {
    background-color:hsl(290,100%,50%);
}

.dropdown__category:nth-child(5n+3) .topic {
    background-color:hsl(290,100%,50%);
}
.dropdown__category:nth-child(5n+3) .topic__information {
    background-color:hsl(290,100%,75%);
}

.dropdown__category:nth-child(5n+3) .topic__article {
    background-color:hsl(290,100%,75%);
}

.dropdown__category:nth-child(5n+4) {
    background-color:hsl(104,100%,50%);
}

.dropdown__category:nth-child(5n+4) .topic {
    background-color:hsl(104,100%,50%);
}

.dropdown__category:nth-child(5n+4) .topic__information {
    background-color:hsl(104,100%,75%);
}

.dropdown__category:nth-child(5n+4) .topic__article {
    background-color:hsl(104,100%,75%);
}


.dropdown__category:nth-child(5n+5) {
    background-color:hsl(60,100%,50%);
}

.dropdown__category:nth-child(5n+5) .topic {
    background-color:hsl(60,100%,50%);
}

.dropdown__category:nth-child(5n+5) .topic__information {
    background-color:hsl(60,100%,75%);
}

.dropdown__category:nth-child(5n+5) .topic__article {
    background-color:hsl(60,100%,75%);
}




.dropdown__label {
    display:block;
    /*
    height:100%;
    width:100%;
    */
    width:100%;
    padding: 1rem 0;
    padding-left:2rem;
    cursor:pointer;
    box-shadow:var(--shadow-01);
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media (min-width:0px) {
    .dropdown__label {
        font-size:2.2rem;
        padding:.65rem 0;
        padding-left:1rem;
    }
}

@media (min-width:0px) and (orientation:portrait) {
    .dropdown__label {
       padding-top:2.65rem;
       padding-bottom:2.65rem;

    }
}

@media (min-width:380px) {
    .dropdown__label {
        font-size:2.4rem;
        padding:.8rem 0;
        padding-left:1.2rem;
    }
}

@media (min-width:450px) {
    .dropdown__label {
        font-size:2.8rem;
        padding:1.2rem 0;
        padding-left:1.5rem;

    }
}

@media (min-width:600px) {
    .dropdown__label {
        font-size:3rem;
        padding:1.5rem 0;
        padding-left:2rem;

    }
}

@media (min-width:800px) {
    .dropdown__label {
        font-size:3.5rem;
        padding:2.25rem 0;
        padding-left:2.5rem;

    }
}

@media (min-width: 800px) and (orientation:landscape) {
    .dropdown__label {
        font-size: 3.5rem;
        padding: 1.5rem 0;
        padding-left: 2.5rem;
    }
}

@media (min-width: 1000px) and (orientation:landscape) {
    .dropdown__label {
        font-size: 3.5rem;
        padding: 3rem 0;
        padding-left: 2.5rem;
    }
}

h2 {
    font-size:2.5rem;
    display:inline-block;
}

.dropdown__label::before {
    content:"▼";
    transform:rotateZ(-90deg);
    display:inline-block;
}

@media (min-width:600px) {
    .dropdown__label::before {

        margin-right:0rem;

    }
}

@media (min-width:601px) {
    .dropdown__label::before {

        margin-right:0.5rem;

    }
}

.dropdown__label--close-category {
    display: none;
}


.dropdown__toggle:checked ~ .dropdown__label {
    display:none;
}

.dropdown__toggle:checked ~ .dropdown__label--close-category {
    display:block;
    /*test*/
}

.dropdown__toggle:checked ~ .dropdown__label--close-category::before {
    content:"▼";
}

/*
.dropdown__toggle:checked ~ .dropdown__label--close-category{
    display:block;
    background-color:black;
    color:orangered;
} */

.dropdown__category:nth-child(5n+2) .dropdown__label--close-category {
    background:linear-gradient(45deg, white, hsl(260,100%,50%) 60%, hsla(260,100%,75%), hsla(260,100%,50%) );
}

.dropdown__toggle:checked ~ .dropdown__label--close-category::before{
    display:inline-block;
    content:"▼";
    transform:unset;
    /*test*/

}

.dropdown__topic-container {
    display:none;
}







.dropdown__toggle:checked ~ .dropdown__topic-container {
    width:100%;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(33%, 1fr));
    justify-content: space-evenly;
    align-content:space-around;
    background-color:hsla(0,0%,20%,1);
    min-height:30rem;
    /*Prevents scrollbars from appearing when hovering the last element*/
    padding-bottom:2rem;
    overflow-y:auto;
    /*overflow-x:hidden; */
    position:relative;
    box-shadow:var(--shadow-01);
}

@media (min-width:0px) {
    .dropdown__toggle:checked ~ .dropdown__topic-container {
        grid-template-columns: .9fr;
    }
}

@media (min-width:300px) {
        .dropdown__toggle:checked ~ .dropdown__topic-container {
            grid-template-columns:repeat(auto-fit, minmax(40%, 1fr));
        }
    
}

@media (min-width:450px) {
    .dropdown__toggle:checked ~ .dropdown__topic-container {
        grid-template-columns:repeat(auto-fit, minmax(33%, 1fr));

    }
}



@media (min-width:600px) {

    .dropdown__toggle:checked ~ .dropdown__topic-container {
        grid-template-columns:repeat(auto-fit, minmax(33%, 1fr));
    }

}

@media (min-width:800px) {
    .dropdown__toggle:checked ~ .dropdown__topic-container {
        /*
        height: 75vh;
        grid-template-columns: repeat(auto-fit, minmax(26%, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(175px, 25%));
        */
        padding-bottom:0.5rem;
        height: 75vh;
        grid-template-columns: repeat(auto-fit, minmax(160px, 25%));
        grid-template-rows: repeat(auto-fit, minmax(135px, 9%));
    }
}

@media (min-width:800px) and (orientation:landscape) and (max-height:400px) {
    .dropdown__toggle:checked ~ .dropdown__topic-container {
        padding-bottom: 0.5rem;
        height: 75vh;
        grid-template-columns: repeat(auto-fit, minmax(115px, 15%));
        grid-template-rows: repeat(auto-fit, minmax(134px, 20%));
    }
}

@media (min-width:800px) and (orientation:portrait) {
    .dropdown__toggle:checked ~ .dropdown__topic-container {
        padding-bottom: 0.5rem;
        height: 75vh;
        grid-template-columns: repeat(auto-fit, minmax(115px, 33%));
        grid-template-rows: repeat(auto-fit, minmax(134px, 24%));
    }
}

@media (min-width:1000px) {
    .dropdown__toggle:checked ~ .dropdown__topic-container {
        height: 85vh;
        grid-template-rows: repeat(auto-fit, minmax(118px, 24%));
        grid-template-columns: repeat(auto-fit, minmax(200px,32%));
        padding-bottom: 3.5rem;

        grid-template-rows: repeat(auto-fit, minmax(118px, 32%));
        grid-template-columns: repeat(auto-fit, minmax(200px,24%));
    }

}

@media (min-width: 1000px) and (orientation:portrait){
    .dropdown__toggle:checked ~ .dropdown__topic-container {   
        grid-template-rows: repeat(auto-fit, minmax(127px, 23%));
        grid-template-columns: repeat(auto-fit, minmax(200px,33%));
    }
}
@media (min-width:1200px) {
    .dropdown__toggle:checked ~ .dropdown__topic-container {
        grid-template-rows: repeat(auto-fit, minmax(150px, 33%));
        grid-template-columns: repeat(auto-fit, minmax(200px,25%));
        padding-bottom: 4rem;
    }

}
/*
@media (min-width:1200px) {
    .dropdown__toggle:checked ~ .dropdown__topic-container {
        height:85vh;
        grid-template-rows: repeat(auto-fit, minmax(175px, 25%));
        grid-template-columns: repeat(auto-fit, minmax(200px,25%));
    }

}
*/
.topic,
.topic:link,
.topic:visited {
    border-radius:.2rem;
    margin:1rem;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:hsla(0,0%,100%,1);
    text-decoration:none;
    color:black;
    min-height:9rem;
    min-width:9rem;
    transition: transform .2s, filter .2s;
    box-shadow:var(--shadow-01);
    font-size:2rem;
    margin-bottom:0.5rem;
}

@media (min-width:0px) {
    .topic,
    .topic:link,
    .topic:visited {
        font-size:1.8rem;
        margin-bottom:.3rem;
    }
}

@media (min-width:600px) {
    .topic,
    .topic:link,
    .topic:visited {
        font-size:2rem;
    }
}

@media (min-width:800px) {
    .topic,
    .topic:link,
    .topic:visited {
    }
}

@media (min-width:800px) and (orientation:landscape) {
    .topic,
    .topic:link,
    .topic:visited {
        min-width:10rem;
    }
}




@media (min-width:1000px) {
    .topic,
    .topic:link,
    .topic:visited {
        font-size:2.5rem;
    }

}

.topic:hover {
    transform:scale(1.07);
    filter:brightness(120%);

    box-shadow:var(--shadow-02);
}

@media (min-width:0px) {
    .topic:hover {
        filter:brightness(120%);
        transform:none;
    }
}

@media (min-width:380px) {
    .topic:hover {
        transform:scale(1.07);
        filter:brightness(120%);
    }
}

@media (min-width:600px) {
    .topic:hover {
    }
}

.topic:active {
    filter:brightness(50%);
    transform:scale(.93);

}

.topic__information {
    display:none;
    position:absolute;
    width:100%;
    opacity:0;
    z-index:-100;
    background-color:brown;
    /*test */
    min-height:100%;
    padding: 1rem 2rem;
    /*test
    height:100vh;
    */
}

@media (min-width:0px) {
    .topic__information {
        padding-left:9.2vw;
    }
}

@media (min-width:750px) {
    .topic__information {
        padding-left:7.5vw;
    }
}


@media (min-width:800px) {
    .topic__information {
        padding-left:8.2vw;
    }
}

@media (min-width:1000px) {
    .topic__information {
        padding-left:6.2vw;
    }
}

@media (min-width:1200px) {
    .topic__information {
        padding-left:5.2vw;
    }
}

@media (min-width:1400px) {
    .topic__information {
        padding-left:4.3vw;
    }
}


.topic__information:nth-of-type(6n+1) {
    /*test*/
    background-color:red;
}

.topic__information:nth-of-type(6n+2) {
    /*test*/
    background-color:green;
}



[id*="topic--"]:target {
    display:block;
    opacity:1;
    z-index:0;
}



/*
.topic__close {
    text-decoration: none;
}


.topic__close::before {
    content:"X";
    color:black;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:white;
    box-shadow: -.3rem .2rem .6rem hsla(0,30%,0%,0.5);
    height:3rem;
    width:3rem;
    position:fixed;
    border-radius:50%;
    top:1%;
} 

*/
.u__sticky--bot {
    position:sticky;
    display:flex;
    align-items:center;
    justify-content:center;
    top:91%;

}

.u__sticky--top {
    position:sticky;
    display:flex;
    align-items:center;
    justify-content:center;
    top:2%;

}

/***************
 Topic Navigation
***************/



.topic__close {

    /*This may be hard to see at small screen sizes in landscape mode*/
    height:3rem;
    width:3rem;

    /*removes extra space created at top of topic__information*/
    margin-top:-2.7rem;

    margin-left:auto;
    margin-right:-1rem;
    z-index:2;
    border-radius:50%;
    box-shadow: var(--shadow-01);
    background-color:white;
    text-decoration:none;
    color:black;
}

@media (min-width:0px){
    .topic__close {
        top:44%;
        
    }
}

@media (min-width:300px) {
    .topic__close {
        top:91%;

    }
}

@media (min-width:600px){
    .topic__close {
    }
}

@media(min-width:800px) {
    .topic__close {
        height:3.7rem;
        width:3.7rem;
        font-size:3rem;
        margin-top:-3.7rem;
    }
}

@media (min-width:800px) and (orientation:landscape) {
    .topic__close {
        top:77%;
    }

}

@media(min-width:1000px) {
    .topic__close {
        height:3.7rem;
        width:3.7rem;
        font-size:3rem;
        margin-top:-3.7rem;
        top:5%;
    }
}


.topic__close::before {
    content:"X"
}

.topic__nav {

    /*This may be hard to see at small screen sizes in landscape mode*/
    height:3rem;
    width:3rem;

    /*removes extra space created at top of topic__information*/
    margin-top:-2.7rem;

    margin-left:auto;
    margin-right:-1rem;
    border-radius:50%;
    box-shadow: var(--shadow-01);
    background-color:white;
    background-image:url("compass-outline.svg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:3rem;
    text-decoration:none;
    color:black;
    top:80%;
    z-index: 2;
    cursor:pointer;
    transition:color 0.3s, background-color 0.3s;
}

@media (min-width:0px){
    .topic__nav {
        top:40%;
    }
}

@media (min-width:300px){
    .topic__nav {
        top:80%;
    }
}

@media (min-width:600px) {
    .topic__nav {
        top:80%;
    }
}

@media (min-width:800px) {
    .topic__nav {
        top:75%;
        height:3.7rem;
        width:3.7rem;
        font-size:3rem;
        margin-top:-3.7rem;
        background-size:3.5rem;
    }
}

@media (min-width:800px) and (orientation:landscape) {
    .topic__nav {
        top:55%;
    }    
}

@media (min-width:1000px) {
    .topic__nav {
        top:18%;
        height:3.7rem;
        width:3.7rem;
        font-size:3rem;
        margin-top:-3.7rem;
    }
}


@media (min-width:1200px) {
    .topic__nav {
        top:18%;

    }
}



.nav-toggle:checked ~.topic__nav {
    background-color:black;
    box-shadow:none;
}


.dropdown__category:nth-of-type(5n+1) .nav-toggle:checked ~.topic__nav {
    background-color:hsl(196,100%,50%);
}

.dropdown__category:nth-of-type(5n+2) .nav-toggle:checked ~.topic__nav {
    background-color:hsl(260,100%,50%);
}
.dropdown__category:nth-of-type(5n+3) .nav-toggle:checked ~.topic__nav {
    background-color:hsl(290,100%,50%);
}

.dropdown__category:nth-of-type(5n+4) .nav-toggle:checked ~.topic__nav {
    background-color:hsl(104,100%,50%);
}

.dropdown__category:nth-of-type(5n+5) .nav-toggle:checked ~.topic__nav {
    background-color:hsl(40,100%,50%);
}


.nav-toggle {
    display:none;
}

.topic__nav::before {
    /*Has to convert decimal value to hex*/
    content:"Nav";
    font-size:1.8rem;
    position:absolute;
    font-weight:bold;
    transform:translateY(-120%);
    margin-bottom:15%;
}

@media (min-width:800px) {
    .topic__nav::before  {
    }
}



.topic__nav-block {
    box-shadow:var(--shadow-01);
    border-radius:3px;
    display:none;
    flex-direction: row;
    overflow-x:auto;
    top:80%;
    /*removes extra space created at top of topic__information*/
    margin-top:-2.7rem;
    /*test*/
    background-color:white;
    /*firefox only */
    scrollbar-width:thin;
    scrollbar-color:green transparent;
    width:100%;
    padding: 0 2rem;
    z-index:1;
}

@media(min-width:0px) {
    .topic__nav-block {
        top:40.3%;
    }
}

@media(min-width:380px) {
    .topic__nav-block {
        margin-top:-2.24rem;
        top:81%;
    }
}
@media(min-width:450px) {
    .topic__nav-block {
        top:80%;
        margin-top:-2.7rem;

    }
}

@media(min-width:800px) {
    .topic__nav-block {
        top:75.5%;
        margin-top:-2.7rem;

    }
}

@media(min-width:800px) and (orientation:landscape), (orientation:landscape) {
    .topic__nav-block {
        top:55%;
    }
}


@media (min-width:1000px) {
    .topic__nav-block {
        top:18.5%;
    }
}

@media (min-width:1200px) {
    .topic__nav-block {
    }
}





.topic__nav-block::-webkit-scrollbar {
    height:10px;
}
.topic__nav-block::-webkit-scrollbar-track {
    background-color:none;
}
.topic__nav-block::-webkit-scrollbar-thumb {
    background-color:green;
    border-radius:2rem;
    border:3px solid yellow;
}



.nav-toggle:checked ~ .topic__nav-block {
    display:flex;
    transform:translate3d(0,0,0);
    animation:slide-left .3s;
}

@keyframes slide-left {
    
    0% {
        transform:translate3d(120%,0,0);
    }

    100% {
        transform:translate3d(0,0,0);
    }
}

.topic__nav-link {
    text-decoration:none;

    color:black;
    padding:.2rem;
    user-select: none;
    font-size:2rem;
    display:flex;
    justify-content:center;
    flex-basis:7.5rem;
    flex-grow:1;
    flex-shrink:0;
}

@media(min-width:0px) {
    .topic__nav-link {
        font-size:1.2rem;
    }
}


@media(min-width:380px) {
    .topic__nav-link {
        font-size:1.6rem;
        flex-basis:0;
    }
}

@media(min-width:450px) {
    .topic__nav-link {
        font-size:2rem;
        flex-basis:7.5rem;
    }
}


@media(min-width:800px) {
    .topic__nav-link {
        font-size:2.4rem;
    }
}

.topic__nav-link:not(:last-of-type) {
   /* border-right:4px solid hsla(60,100%,20%,0.3);*/
}

.topic__article {
    background-color:royalblue;
    width:100%;
    font-size:1.8rem;
}

.topic__background-shapes {
    position:absolute;
    height:100%;
    width:15%;
    right:0;
    top:0;
    display:none;
    background-image: url("dot.svg");
    background-size:1.5rem;
    filter:contrast(0);
}

@media (min-width:1200px) {
    .topic__background-shapes {
        display:block;
    }
}

.topic__segment {
    margin-bottom:3rem;
}

@media(min-width:0px) {
    .topic__segment {
        margin-bottom:1.2rem;
    }
}


@media(min-width:380px) {
    .topic__segment {
        margin-bottom:1.4rem;
    }
}

@media(min-width:450px) {
    .topic__segment {
        margin-bottom:2rem;
    }
}

@media(min-width:600px) {
    .topic__segment {
        margin-bottom:3rem;
    }
}

.topic__article p{
    margin-bottom:1.2rem;
}

@media(min-width:0px) {
    .topic__article p {
        font-size:1.4rem;
        margin-bottom:.4rem;
    }
}

@media(min-width:380px) {
    .topic__article p {
        font-size:1.5rem;
        margin-bottom:.4rem;
    }
}


@media(min-width:450px) {
    .topic__article p {
        font-size:1.6rem;
        margin-bottom:.6rem;
    }
}

@media(min-width:600px) {
    .topic__article p {
        font-size:1.8rem;
    }
}

@media(min-width:800px) {
    .topic__article p {
        font-size:2rem;
        margin-bottom:.8rem;
    }
}

@media(min-width:800px) and (orientation:landscape){
    .topic__article p {
        font-size:1.6rem;
        margin-bottom:.6rem;
    }
}

.topic__heading {
    font-weight:100;
    font-size: 3.5rem;
    margin-bottom:2rem;
}

@media(min-width:0px) {
    .topic__heading {
        font-size:2.6rem;
        margin-bottom:1rem;

    }
}


@media(min-width:450px) {
    .topic__heading {
        font-size:3rem;
        margin-bottom:1.2rem;
    }
}

@media(min-width:600px) {
    .topic__heading {
        font-size:3.5rem;
        margin-bottom:2rem;
    }
}

@media(min-width:800px) and (orientation:landscape){
    .topic__heading {
        font-size:3rem;
        margin-bottom:1.2rem;
    }
}

.topic__subheading {
    font-size:2.5rem;
    margin-bottom:1rem;
}

@media(min-width:0px) {
    .topic__subheading {
        font-size:2rem;
        margin-bottom:.4rem;
    }
}


@media(min-width:450px) {
    .topic__subheading {
        font-size:2.2rem;
        margin-bottom:.6rem;
    }
}

@media(min-width:600px) {
    .topic__subheading {
        font-size:2.5rem;
        margin-bottom:1rem;
    }
}

@media(min-width:800px) {
    .topic__subheading {
        font-size:2.8rem;
        margin-bottom:1.2rem;
    }
}

@media(min-width:800px) and (orientation:landscape){
    .topic__subheading {
        font-size:2.2rem;
        margin-bottom:.6rem;
    }
}

.code-block {
    display:flex;
    flex-flow:column nowrap;
    overflow-x:auto;
    background-color:white;
    margin-bottom:1.2rem;
    border-radius: 2px;
    width:85%;
}

@media (min-width:1000px) {
    .code-block {
        width:85%;
    }
}

@media (min-width:1200px) {
    .code-block {
        width:65%;
    }
}


code:nth-of-type(even) {
    background-color:lightgray;
    /*
        This is a hack to make the background color fully
        cover the code element in case of overflow.

        Unfortunately, this will make the code overflow regardless
    */
    width:150%;

}

@media (min-width:0px) {
    code:nth-of-type(even) {
        width:190%;
    }
}

@media (min-width:380px) {
    code:nth-of-type(even) {
        width:175%;
    }
}

@media (min-width:600px) {
    code:nth-of-type(even) {
        width:150%;
    }
}

@media (min-width:800px) {
    code:nth-of-type(even) {
        width:100%;
    }
}

code {
    counter-increment: line-number;
    white-space: nowrap;
    font-size:1.4rem;
}

@media (min-width:0px) {
    code {
        font-size:1.1rem;
    }
} 

@media (min-width:380px){
    code {
        font-size:1.2rem;
    }
}

@media (min-width:450px){
    code {
        font-size:1.3rem;
    }
}

@media (min-width:600px) {
    code {
        font-size:1.4rem;
    }
}

@media (min-width:800px) {
    code {
        font-size:1.6rem;
    }
}




code::before {
    content:counter(line-number);
    background-color:grey;
    padding: 0 1.5rem;
    width:2ch;
}

@media (min-width:0px) {
    code::before {
        padding:0 .8rem;
    }
} 

@media (min-width:380px){
    code::before {
        padding:0 .9rem;
    }
}

@media (min-width:450px){
    code::before {
        padding:0 1.1rem;
    }
}

@media (min-width:600px) {
    code::before {
        padding:0 1.5rem;
    }
}



/*
.topic__nav {
    position:sticky;
    top:90%;
    height:4rem;
    display:flex;
    align-items:center;
    background-color:black;
    border-radius:2px;

}
*/
