* {
    padding:0;
    margin:0;
}
html {
    font-size:62.5%;
    box-sizing: inherit;
    border-radius:.3rem
}

body {
    box-sizing:border-box;
}

#title,
#description {
    text-align:center;
}
#description {
    font-size:2.4rem;
    margin-bottom:1.5rem;
}
#title {
    font-size:3.2rem;
    margin-bottom:.5rem;
}
.form-block {
    display:flex;
    flex-direction:column;
    width:40%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 4rem;
}

#survey-form {
    font-size: calc(1.6rem + .25vmax);
}

#name,
#email,
#number {
    padding:.4rem .8rem;
}


.required-label::before {
    content:"*";
    margin-right:.25rem;
}

#name-label,
#email-label {
    margin-right:1.9rem;
}

#dropdown {
    background:none;
    padding: .4rem .8rem;
}

.input-group {
    display:flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.input-group label {
    margin-bottom:.5rem;
}


.text-input {
}

#feedback-area {
    resize: none;
    padding: .4rem .8rem;
}

.checkbox-text {
    font-size:1.6rem;
}

.checkbox-group .input-group {
    margin-bottom:0;
}

.input-group--ltr {
    display:flex;
    margin-right:2rem;
    align-items:baseline;
}

.input-group--ltr input {
    margin-right: .5rem;
}

.input-group--ltr label {
    font-size: 1.6rem;
}

#submit {
    width:max-content;
    padding:.4rem .8rem;
    margin-bottom:1.5rem;
}