* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
    padding:15px;
}
#title {
    font-size:3vmax;
    text-align:center;
    margin-bottom:10px;
}
#img-div {
    margin: 0 25%;
    padding-bottom:20px; 
}

#image {
    max-width:100%;
    height:auto;
    padding-bottom:10px;
}

.tribute-para {
    font-size:1.5vmax;
    columns:2;
    margin: 0 auto;
    max-width:80ch;
    width:50%;
    padding-bottom:10px;
}
#img-caption {
    font-size:2.25vmax;
    text-align:center;
}
