:root {
    --xsmall: 0.9995rem;
    --small: 1.999rem;
    --medium: 2.827rem;
    --large: 3.998rem;
    --xlarge: 4.883rem;
    scroll-behavior: smooth
}

*,
::after,
::before {
    padding: 0;
    margin: 0
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
    font-family: sans-serif
}

body {
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    margin-top: 10vh
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    margin: 0;
    border-style: none
}

a,
a:link,
a:visited {
    color: #000;
    text-decoration: none
}

#title {
    margin-top: var(--xlarge);
    font-size: var(--xlarge);
    text-align: center;
    animation: 0s fade-in 1.5s ease-in;
    animation-fill-mode: backwards
}

@media(max-width:1111px) {
    #title {
        font-size: var(--large);
        margin-top: var(--large)
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

#header {
    overflow-x: hidden;
    width: 100%;
    height: max-content;
    margin-bottom: var(--medium)
}

.tagline {
    text-align: center;
    width: max-content;
    margin: 0 auto;
    font-size: var(--large)
}

@media(max-width:1111px) {
    .tagline {
        font-size: 3.5rem
    }
}

@media(max-width:780px) {
    .tagline {
        font-size: var(--medium)
    }
}

.tagline p:last-of-type {
    position: relative;
    display: inline-block;
    font-style: italic;
    overflow: hidden
}

.tagline p:last-of-type::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    animation: slide-rtl 1.8s cubic-bezier(.38, 1.08, .84, .13) 2s;
    animation-fill-mode: forwards
}

@keyframes slide-rtl {
    0% {
        transform: translate3d(0, 0, 0)
    }
    100% {
        transform: translate3d(100%, 0, 0)
    }
}

.tagline p:first-of-type {
    animation: 0s fade-in 1.5s ease-in;
    animation-fill-mode: backwards
}

.tagline span {
    color: red;
    font-weight: 700
}

@keyframes rise-up {
    0% {
        transform: translate3d(0, 100%, 0)
    }
    100% {
        transform: translate3d(0, 0, 0)
    }
}

#nav-bar {
    width: 100%;
    margin-top: .5rem;
    display: flex;
    z-index: 100;
    justify-content: center;
    transition: opacity .2s;
    background-color: #200f0d;
    box-shadow: 0 .4rem .2rem .2rem #ecb1ab, 0 -.4rem .2rem .2rem #ecb1ab
}

.icon {
    height: 35px;
    width: 35px;
    transition: opacity .2s ease-in
}

.icon:hover {
    background-color: #ecb1ab;
    fill: #ecb1ab
}

.nav-link:link,
.nav-link:visited {
    font-size: var(--small);
    text-decoration: none;
    color: #ecb1ab;
    transition: opacity .2s ease-in;
    margin: 0 1rem;
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 0 2rem
}

@media(max-width:780px) {
    .nav-link:link,
    .nav-link:visited {
        padding: 0 1rem
    }
}

@media(max-width:470px) {
    .nav-link:link,
    .nav-link:visited {
        margin:0px;
    }
}

.nav-link:hover {
    color: #fff
}

.scheme {
    height: 100px;
    width: 100px
}

.fixed--top {
    height: 10vh;
    min-height:6rem;
    width: 100vw;
    display: flex;
    position: fixed;
    top: 0
}

[class*="-section"] {
    padding: var(--medium);
    padding-top: calc(var(--medium) + var(--xlarge));
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    width:100%;
}

@media(max-width:913px) {
    [class*="-section"] {
        padding-top: 5rem
    }
}

@media(max-width:780px) {
    [class*="-section"] {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: var(--xlarge)
    }
}

.anim-on-scroll {
    animation: rise-and-shine .5s ease-in forwards
}

@keyframes rise-and-shine {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

#header-img {
    margin: 0 auto;
    margin-top: var(--small);
    display: block;
    height: auto;
    width: 600px;
    position: relative
}

@media(max-width:780px) {
    #header-img {
        width: 400px
    }
}

.anime-box {
    display: block;
    animation: 1.5s ease-in-out slide-x forwards;
    margin-bottom: var(--medium)
}

[class*=list--] {
    margin-top: 8rem;
    border: 5px solid #000;
    border-radius: var(--small);
    padding: var(--medium) var(--medium);
    box-shadow: calc(var(--xsmall) * -1) var(--xsmall) #000;
    line-height: 1.5
}

@media(max-width:1476px) {
    [class*=list--] {
        padding: var(--medium) var(--small);
        font-size: 2.5rem
    }
}

@media(max-width:1284px) {
    [class*=list--] {
        font-size: 2.2rem
    }
}

@media(max-width:1175px) {
    [class*=list--] {
        font-size: 2rem
    }
}

@media(max-width:1125px) {
    [class*=list--] {
        font-size: 1.8rem
    }
}

@media(max-width:780px) {
    [class*=list--] {
        padding: var(--small) var(--small)
    }
}

.list--right {
    box-shadow: calc(var(--xsmall)) var(--xsmall) #000;
    background-color: #200f0d;
    color: #ecb1ab
}

@media (max-width:1225px) {
    .list--right {
        margin-top: 0
    }
}

@media (max-width:1111px) {
    .list--right {
        font-size: 18px
    }
}

@media(max-width:780px) {
    .list--right {
        box-shadow: calc(var(--xsmall) * -1) var(--xsmall) #000
    }
}

.list--left {
    box-shadow: calc(var(--xsmall) * -1) var(--xsmall) #000;
    background-color: #ecb1ab
}

@media (max-width:1224px) {
    .list--left {
        margin-top: 0
    }
}

@media (max-width:1161px) {
    .list--left {
        font-size: 20px
    }
}

@media (max-width:1124px) {
    .list--left {
        font-size: 18px
    }
}

@media(max-width:780px) {
    .list--left {
        margin-top: 0;
        margin-bottom: 4rem;
        box-shadow: calc(var(--xsmall) * -1) var(--xsmall) #000
    }
}

[class*=list--] a {
    color: #fff
}

.list,
.list--specials {
    border: 2px solid #777;
    border-radius: var(--small);
    padding: var(--small) var(--xsmall);
    box-shadow: none
}

.list--specials {
    font-size: var(--small);
    border: .9rem solid #000;
    line-height: 2.5;
    padding: var(--medium) var(--large)
}

[class*=list] .item {
    list-style-type: none
}

@media(max-width:780px) {
    [class*=list] .item {
        font-size: 2.4rem
    }
}

@media (max-width:1060px) {
    [class*=list] .item {
        font-size: 1.6rem
    }
}

.video-section {
    background-color: #633535
}

@media(max-width:1224px) {
    .video-section {
        align-items: center;
        padding-top: var(--medium);
        padding-bottom: var(--medium);
        justify-content: space-around
    }
}

@media(max-width:1019px) {
    .video-section {
        flex-direction: column;
        height: 500px
    }
}

#video,
#video:focus {
    height: 400px;
    width: 600px;
    border: 12px solid #000;
    border-left: 2rem;
    border-right: 2rem;
    border-style: solid;
    border-radius: var(--small);
    object-fit: cover;
    cursor: pointer
}

#video:focus {
    outline: 0;
    background: 0 0
}

@media(max-width:1380px) {
    #video,
    #video:focus {
        width: 464px;
        height: 330px
    }
}

@media (max-width:1111px) {
    #video,
    #video:focus {
        width: 460px;
        height: auto
    }
}

@media(max-width:780px) {
    #video,
    #video:focus {
        width: 400px;
        height: 300px
    }
}

.text-block--left {
    width: max-content;
    font-size: var(--medium);
    flex: .9 1 0
}

@media (max-width:1019px) {
    .text-block--left {
        margin-top: 1rem
    }
}

.specials-section {
    height: 30rem
}

@media(max-width:1224px) {
    .specials-section {
        align-items: center;
        padding-top: var(--medium);
        padding-bottom: var(--medium);
        height: 100%;
        justify-content: space-around
    }
}

@media(max-width:1019px) {
    .specials-section {
        flex-direction: column;
        height: 525px
    }
}

@media(max-width:780px) {
    .specials-section {
        align-items: space-around;
        height: unset
    }
}

.specials-block {
    margin-top: calc(-4*var(--xlarge));
    border-radius: var(--small);
    display: flex
}

@media(max-width:780px) {
    .specials-block {
        margin-top: 4rem
    }
}

@media (max-width:1224px) {
    .specials-block {
        margin-top: 0
    }
}

@media(max-width:1380px) {
    .specials-block {
        align-items: center
    }
}

.specials-img {
    height: 400px;
    width: 600px;
    border: 1.2rem solid #000;
    border-left: 2rem;
    border-right: 2rem;
    border-color: red;
    border-style: solid;
    border-radius: var(--small);
    object-fit: cover
}

@media(max-width:1380px) {
    .specials-img {
        width: 500px;
        height: 330px
    }
}

@media(max-width:1272px) {
    .specials-img {
        height: 333px;
        width: auto
    }
}

@media(max-width:1111px) {
    .specials-img {
        width: 410px;
        height: auto
    }
}

@media(max-width:780px) {
    .specials-img {
        height: 300px;
        width: 400px
    }
}

#video--1,
#video--1:focus {
    height: 400px;
    width: 600px;
    border: 1.2rem solid #000;
    border-left: 2rem;
    border-right: 2rem;
    border-style: solid;
    border-radius: var(--small);
    object-fit: cover
}

#video--1:focus {
    outline: 0;
    background: 0 0
}

.text-block--right {
    margin-top: calc(-1.25*var(--xlarge));
    width: max-content;
    font-size: var(--medium);
    flex: .9 1 0
}

@media (max-width:1224px) {
    .text-block--right {
        margin-top: 0
    }
}

@media (max-width:1019px) {
    .text-block--right {
        order: -1
    }
}

@media(max-width:780px) {
    .text-block--right {
        margin-bottom: 4rem
    }
}

.membership-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
    background-color: #ccaa65
}

@media(max-width:913px) {
    .membership-section {
        padding-bottom: 3rem;
        padding-top: 3rem
    }
}

@media(max-width:780px) {
    .membership-section {
        margin-top: 0
    }
}

@media(max-width:913px) {
    .membership-section .row {
        flex-direction: column;
        align-items: center
    }
}

@media(max-width:780px) {
    .membership-section .row {
        margin-top: 0
    }
}

.membership-section h2 {
    font-size: var(--large)
}

@media(max-width:913px) {
    .membership-section h2 {
        margin-bottom: 3rem
    }
}

@media(max-width:780px) {
    .membership-section h2 {
        font-size: 3rem;
        margin-bottom: 3rem
    }
}

.feature {
    padding: 3rem;
    list-style: none;
    flex-basis: 25%
}

@media(max-width:913px) {
    .feature {
        width: 60%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        margin-bottom: 1rem
    }
}

@media(max-width:780px) {
    .feature {
        width: 50%;
        padding: 0;
        padding-bottom: 1.5rem
    }
}

@media(max-width:630px) {
    .feature {
        width: 70%;
    }
}


.feature li {
    font-size: var(--small);
    line-height: 1.5
}

@media(max-width:780px) {
    .feature li {
        font-size: 1.8rem
    }
}

.feature li:first-of-type {
    font-size: 3.5rem;
    margin-bottom: var(--xsmall);
    text-align: center
}

@media(max-width:913px) {
    .feature li:first-of-type {
        font-size: 3rem
    }
}

@media(max-width:780px) {
    .feature li:first-of-type {
        font-size: 2.5rem
    }
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%
}

.action-button {
    font-size: var(--small);
    padding: var(--small) var(--medium);
    background-color: red;
    border-radius: var(--xsmall);
    display: inline-block;
    position: relative;
    cursor: pointer
}

@media(max-width:913px) {
    .action-button {
        margin-top: 2rem
    }
}

@media(max-width:780px) {
    .action-button {
        margin-top: 2rem
    }
}

.action-button::before {
    z-index: -1;
    content: "";
    background-color: red;
    position: absolute;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all .5s;
    box-shadow: 0 0 0 .2rem #000;
    backface-visibility: hidden
}

.action-button:hover::before {
    transform: scaleX(1.3) scaleY(1.15);
    opacity: 0
}

.form-section {
    opacity: 0;
    margin-top: 0;
    pointer-events: none;
    visibility: hidden;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: 100%;
    width: 100%;
    transition: background-color .4s, opacity .4s
}

.form-section:target {
    backdrop-filter: blur(.3rem);
    background-color: hsla(0, 100%, 0%, .6);
    visibility: visible;
    pointer-events: unset;
    z-index: 200;
    display: flex;
    justify-content: center;
    padding-top: 0;
    opacity: 1
}

.form-section:target~header nav {
    opacity: 0
}

.form-section:target #form {
    display: flex
}

#form {
    display: none;
    height: 45rem;
    width: 50rem;
    border: .8rem solid #000;
    padding: 8rem 8rem 0 8rem;
    flex-direction: column;
    border-radius: var(--small);
    background-color: #200f0d;
    background-size: cover;
    position: relative
}

#form.visible {
    background-image: url(img/cookies-hero-grayson-smith-Imwgit84NGo-unsplash.jpg)
}

@media only screen and (max-width:1200px) {
    #form.visible {
        background-image: url(img/cookies-hero-grayson-smith-Imwgit84NGo-unsplash_zpmqkp_c_scale,w_1080.jpg)
    }
}

@media only screen and (max-width:1000px) {
    #form.visible {
        background-image: url(img/cookies-hero-grayson-smith-Imwgit84NGo-unsplash_zpmqkp_c_scale,w_949.jpg)
    }
}

@media(max-width:950px) {
    #form.visible {
        padding: 8rem 5rem 0 5rem;
        height: 450px
    }
}

@media only screen and (max-width:750px) {
    #form.visible {
        background-image: url(img/cookies-hero-grayson-smith-Imwgit84NGo-unsplash_zpmqkp_c_scale,w_749.jpg)
    }
}

@media only screen and (max-width:680px) {
    #form.visible {
        padding-left: 3rem;
        padding-right: 3rem;
        width: 45rem;
        height: 35rem;
        background-image: url(img/cookies-hero-grayson-smith-Imwgit84NGo-unsplash_zpmqkp_c_scale,w_547.jpg)
    }
}

@media only screen and (max-width:550px) {
    #form.visible {
        padding-left: 1.7rem;
        padding-right: 1.7rem;
        padding-bottom: 2rem;
        background-image: url(img/cookies-hero-grayson-smith-Imwgit84NGo-unsplash_zpmqkp_c_scale,w_547.jpg);
        height: 33rem;
        width:80%;
    }
}

@media only screen and (max-width:500px) {
    #form.visible {
        padding: 2rem 1.7rem;
        padding-top:5rem;
        background-image: url(img/cookies-hero-grayson-smith-Imwgit84NGo-unsplash_zpmqkp_c_scale,w_547.jpg);
        height: 33rem;
        width:80%;
    }
}

@media only screen and (max-height:650px) {
    #form.visible {
        max-height:40rem;
    }
}
@media only screen and (max-height:500px) {
    #form.visible {
        max-height:33rem;
    }
}

@media only screen and (max-height:430px) {
    #form.visible {
        max-height:25rem;
        padding: 3rem 3rem;
        padding-bottom:0rem;
    }
}




#form label {
    color: #fff;
    background-color: #633535;
    border-radius: .3rem;
    width: max-content;
    padding: 0 1rem;
    cursor:pointer;
}

#form #email,
#form #telephone {
    width: 100%;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity .4s
}

#form .form-heading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: max-content;
    margin: 0 auto;
    padding: 0 2rem;
    border-radius: 3px;
    box-shadow: inset 0 2px 0 hsla(60, 75%, 75%, .5), 0 2px 3px hsla(0, 75%, 0%, .25);
    flex-grow: 0;
    color: #000;
    font-size: var(--medium);
    margin-bottom: 2rem
}
@media(max-width:386px) {
    #form .form-heading {
        font-size:var(--small);
    }
}

@media(max-height:430px) {
    #form .form-heading {
        margin-bottom:1rem;
    }
}

#telephone-alerts {
    display: none
}

#email-alerts {
    display: none
}

#email-alerts:checked~.row--label .label--email {
    background-color: orange;
    color: #000
}

#telephone-alerts:checked~.row--label .label--telephone {
    background-color: orange;
    color: #000
}



#form #telephone-alerts:checked~#telephone,
#form #email-alerts:checked~#email {
    visibility: visible;
    pointer-events: unset;
    position: relative;
    opacity: 1
}

@media only screen and (max-height:430px) {
    #form #telephone-alerts:checked~#telephone,
    #form #email-alerts:checked~#email {
    }
}


#form .close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 5rem;
    width: 5rem;
    background-color: #fff;
    border-top-right-radius: var(--xsmall);
    border-bottom-left-radius: .3rem;
    cursor: pointer;
    font-weight: 700;
    font-size: var(--medium);
    top: 0;
    right: 0
}

@media(max-width:950px) {
    #form .close {
        height: 3.5rem;
        width: 3.5rem
    }
}

@media only screen and (max-height:430px) {
    #form .close {
        height:2.8rem;
        width:2.8rem;
    }
}


.row--form {
    justify-content: space-between;
    flex-wrap: wrap
}

@media only screen and (max-width:550px) {
    .row--form:last-of-type {
        justify-content:center;
    }
}

@media only screen and (max-width:550px) {
    .row--form:first-of-type #first-name,
    .row--form:first-of-type #last-name{
        width:40%;
    }
}


.row--label {
    justify-content: center
}

.input-group {
    display: flex;
    flex-direction: column
}

.form-label {
    margin-bottom: 2rem;
    font-size: var(--small)
}

#form [type=email],
#form [type=text] {
    color: #48211d;
    border-radius: .3rem;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    box-shadow: 0 2px 2px inset hsla(0, 0%, 0%, .15), 0 -2px 0 inset hsla(0, 0%, 100%, .15)
}

@media only screen and (max-width:680px) {
    #form [type=email],
    #form [type=text] {
        padding: .5rem
    }
}

@media only screen and (max-width:550px) {
    #form [type=email],
    #form [type=text] {
        max-width:80%;
        
    }
}

@media (max-height:430px) {
    #form [type=email],
    #form [type=text] {
        padding: .25rem;
        margin-bottom:1rem;
    }
}



#form [type=email]:focus,
#form [type=text]:focus {
    background-color: #ebe0df
}

::placeholder {
    font-size: 1.5rem
}

#submit {

    cursor: pointer;
    margin: 0 auto;
    padding: var(--xsmall) var(--small);
    background-color: red;
    border: none;
    border-radius: var(--xsmall);
    border: 2px solid #000;
    margin-top: 4rem
}

@media(max-width:950px) {
    #submit {
        margin-top: 3rem
    }
}

@media only screen and (max-width:680px) {
    #submit {
        margin-top: 2rem
    }
}

@media (max-width:550px) {
    #submit {
        margin-top:1rem;
    }
}

@media (max-height:500px) {
    #submit {
        position:absolute;
        bottom: -2%;
        left:50%;
        transform:translate3d(-50%,-50%,0);
    }
}

@media only screen and (max-height:430px) {
    #submit {
        margin-top:2.5rem;
    }
}

#submit:active {
    background-color: #f99;
    font-weight: 700
}

#submit::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff
}

.fixed--bot-left {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0
}

@keyframes rotation {
    0% {
        transform: rotate3d(0, 0, 0, 360deg)
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg)
    }
}

@keyframes slide-x {
    0% {
        transform: translate3d(100vw, 0, 0)
    }
    90% {
        transform: translate3d(-5vw, 0, 0)
    }
    100% {
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slide-y {
    0% {
        transform: translate3d(0, 100vh, 0)
    }
    90% {
        transform: translate3d(0, -5vh, 0)
    }
    100% {
        transform: translate3d(0, 0, 0)
    }
}